.hero-section {
  width: 100%;
  height: calc(100vh + 100px); // 100px greater than the viewport height
  background: url("../../../public/product-main-laptopscreens.png") center
    no-repeat; // Replace with your image path
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 756px) {
    justify-content: center;
    background: url("../../../public/product-main.png") center no-repeat;
    height: 836px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: absolute; // Positioning inside the hero-section
    text-align: center;
    color: white; // Adjust the color based on your background
    text-shadow: 1px 2px 0px rgba(180, 164, 156, 1);
    margin-bottom: 50px;
    @media (max-width: 756px) {
      width: 80%;
      background-color: #44444496;
      padding: 25px 0 40px 0;
    }

    h1 {
      font-size: 3em; // Adjust the font size as needed
      margin-bottom: 20px;
      width: 80%;
    }

    p {
      font-size: 1.5em; // Adjust the font size as needed
      margin-bottom: 30px;
      width: 60%;
    }

    .learn-more-btn {
      padding: 10px 20px;
      background-color: black; // Adjust hover color as needed
      color: white; // Adjust text color as needed
      border: none;
      cursor: pointer;
      font-size: 1.2em; // Adjust the font size as needed

      &:hover {
        background-color: #b4a49c; // Adjust hover color as needed
        color: white;
      }
    }
  }
}

.product-section {
  display: flex;
  padding: 60px 10vw;
  height: 700px;
  width: 100%;

  @media (max-width: 756px) {
    height: auto;
    padding: 40px 5vw 20px 5vw;
  }
}

.product-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  @media (max-width: 756px) {
    flex-direction: column;
  }
}

.product-image {
  max-width: 45%;
  object-fit: cover;

  @media (max-width: 756px) {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    height: 100%;
    width: 580px;

    @media (max-width: 756px) {
      width: 80%;
    }
  }
}

.product-details {
  background-color: #f6f6f6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 70px;

  @media (max-width: 756px) {
    font-size: 3vw;
    padding: 15px 0;
    width: 80%;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2.6em;

      @media (max-width: 756px) {
        font-size: 2.4em;
      }
    }

    p {
      margin: 15px 0 25px 0;
      font-size: 1.3em;

      @media (max-width: 756px) {
        font-size: 1em;
      }
    }
  }

  .product-purchase-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;

    @media (max-width: 756px) {
      font-size: 1em;
    }
  }
}

.product-options,
.dropdown {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dropdown-list {
  :first-child {
    opacity: 0;
  }
}

.product-options label,
.product-options select {
  margin-top: 10px;
}

.add-to-cart {
  background-color: #ebebeb; // Black button color
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 1em;

  &:hover {
    background-color: black;
    color: white;
  }

  &:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    cursor: not-allowed;
  }
}

.benefits-section {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 756px) {
    flex-direction: row;
    font-size: 3.5vw;
    width: 80vw;
    margin: auto;
  }

  .benefits-divider {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media (max-width: 756px) {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding: 0px 1vw;
      height: 100%;
      margin: auto;
    }
  }

  .benefit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    width: 200px; // Adjust the width as per your layout requirement
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    img {
      max-width: 100px;
    }
    @media (max-width: 756px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      height: auto;
      text-align: left; /* This has to be "list-item" */
      box-shadow: none;
      padding: 0;
      img {
        max-width: 10vw;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}

hr {
  width: 80%;
  margin: auto;
}
